{% extends "base.html" %}

{% block style %}
body
{
	font-family:Verdana, Geneva, sans-serif;
}
h1
{
	text-align: center;
}

#fullist
{
	width: 50%;
	float: left;
	background-color: #FFFF99;
	position: relative;
	top: 10%;
	left: 10%;
	min-height: 600px;
	box-shadow: 4px 4px 2px #808080;
}
#additem
{
	width: 15%;
	float: right;
	background-color: #FFFF99;
	right: 5%;
	position: relative;
	top: 20%;
	box-shadow: 4px 4px 2px #808080;
	padding: 20px;
}

ul
{
	list-style-type: none;
}

.clicked
{
	text-decoration: line-through;
}

.fieldWrapper
{
	padding: 5px;
}

#taskitems
{
	font-family:Verdana, Geneva, sans-serif;
}
#duedate
{
	list-style-position: inside;
	font-size: 14px;
}
#clearbutton
{
	padding: 25px;
}

{% endblock %}

{% block scripts %}
	<link type="text/css" rel="Stylesheet"
		href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#id_due").datepicker();
			$("li").live("click",function(){
				$(this).toggleClass("clicked");
  			});
	 		$("button").click(function ()
			{

				$("li").remove('.clicked');
			});
		});
	</script>

{% endblock %}

{% block body %}
<h1>The No-Lose List</h1>
<div id="fullist">
	<ul>
		{% for item in listitems %}
			<li id="taskitems">
				{{ item.task }}
				<ul id="duedate">
					{{ item.due }}
				</ul>
			</li>
		{% endfor %}
	</ul>
</div>
<div id="additem">
	<form action="." method="POST"> {% csrf_token %}
	{% for field in form %}
	<div class="fieldWrapper">
		{{ field.label_tag }}: <br>
		{{ field }}
		{{ field.errors }}
	</div>
	{% endfor %}
	<input type="submit" Value="New Item">
	</form>
	<div id="clearbutton">
		<button>Clear Accomplished Tasks</button>
	</div>
</div>

{% endblock %}